services:
  db:
    image: postgres:17
    restart: always
    env_file:
      - stack.env
    volumes:
      - pgdata:/var/lib/postgresql/data

  server:
    build:
      context: .
      target: final
    depends_on:
      - db
    ports:
      - 127.0.0.1:3000:3000
    env_file:
      - stack.env

volumes:
  pgdata:
