services:
  db:
    image: postgres:17
    restart: always
    env_file:
      - stack.env
    volumes:
      - pgdata:/var/lib/postgresql/data

  server:
    build:
      context: .
      target: final
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - 127.0.0.1:${HOST_PORT}:${APP_PORT}
    env_file:
      - stack.env

volumes:
  pgdata:
