{% extends "email_base.html" %}

{% block title %}Message Notification{% endblock %}

{% block content %}
    <div class="header">The following is a message from {{+ name }}.</div>

    <div class="message">
        <p><strong>Message:</strong></p>
        <p>{{ message }}</p>
    </div>

    <div class="details">
        <p><strong>Priority:</strong> {{+ priority }}</p>
        <p><strong>Name:</strong> {{+ name }}</p>
        <p><strong>Email:</strong> {{+ email }}</p>
        <p><strong>Status:</strong> {{+ status }}</p>
        <p><strong>Submitted at:</strong> {{+ submitted_time }}</p>
        <p><strong>Delivered at:</strong> {{+ delivered_time }}</p>
    </div>
{% endblock %}