{% extends "base.html" %}

{% block title %}About Enviame{% endblock %}

{% block content %}
    <h2 class="mb-3">About Enviame</h2>

    <p><em><strong>TL;DR:</strong> Enviame is a priority messenger that filters important messages while respecting focus modes.</em></p>

    <p>Designed for those who use "Focus Mode" but need urgent messages to bypass silencing, Enviame ensures trusted contacts can reach you while blocking distractions.</p>

    <p>Future integrations with smartwatches and other delivery methods are planned.</p>

    <div class="explanation">
        <strong>Tech Stack:</strong> Rust, PostgreSQL, Static HTML
    </div>

    <div class="explanation">
        <strong>Made by:</strong> <a href="https://github.com/differental" target="_blank">Brian</a>
    </div>

    <div class="explanation">
        <strong>Source code:</strong> <a href="https://github.com/differental/enviame" target="_blank">https://github.com/differental/enviame</a>
    </div>

    <div class="explanation">
        Favicon by <a href="https://www.freepik.com/icon/envelope_16910928" target="_blank">Freepik</a>.
    </div>
{% endblock %}